<div class="game-container">
  <h1>Tic Tac Toe</h1>
  <div class="board">
    <div class="row" *ngFor="let row of board; let rowIndex = index">
      <div class="cell" *ngFor="let cell of row; let colIndex = index" (click)="makeMove(rowIndex, colIndex)">
        {{ cell }}
      </div>
    </div>
  </div>
  <div *ngIf="winner">
    <h2>{{ winner }} wins!</h2>
    <button (click)="resetGame()">Play Again</button>
  </div>
  <div *ngIf="isDraw && !winner">
    <h2>It's a draw!</h2>
    <button (click)="resetGame()">Play Again</button>
  </div>
</div>